/* https://coolors.co/ed1c23-dddddd-f5d09e-000000-b2ab9d */

@import "tailwindcss";

@theme {
  --color-redcmyk: #ed1c23ff;
  --color-platinum: #ddddddff;
  --color-sunset: #f5d09eff;
  --color-black: #000000ff;
  --color-khaki: #b2ab9dff;
  
  --font-heading: "Roboto Condensed", sans-serif;
  --font-body: "Lato", sans-serif;
}

/* Apply global font defaults */
body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-heading);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.glass-nav {
  background: rgba(15, 15, 15, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-nav-mob {
  background: rgba(20, 20, 20, 0.98);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
