/* https://coolors.co/ed1c23-dddddd-f5d09e-000000-b2ab9d */

@import "tailwindcss";

@theme {
  --color-redcmyk: #ed1c23ff;
  --color-platinum: #ddddddff;
  --color-sunset: #f5d09eff;
  --color-black: #000000ff;
  --color-khaki: #b2ab9dff;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.glass-nav {
  background: rgba(15, 15, 15, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-nav-mob {
  background: rgba(15, 15, 15, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
